{%extends "base.html"%}
{%block title%}Početna stranica{%endblock%}

{%block head%}
    {{super()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
    
    </style>
{%endblock%}

{%block body%}

<div class=container>
    

<h1>Hello World</h1>
<h3><a href="{{url_for("comments", _external=true)}}", target="_blank">View comments</a></h3>
</div>
{%endblock%}